<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ScotchBot: Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ScotchBot">
    <meta name="author" content="Yuxin Chen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" >
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Custom styles for this template -->
    <!--link href="./starter-template.css" rel="stylesheet"> -->
    <link href="../static/css/starter-template.css" rel="stylesheet"> 
    
  </head>
  <body>



    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="/" ><b><font size=5>ScotchBot</b></font></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/"> <font size=4> Home </font> </a></li>
                    <li><a href="/about"> <font size=4>  About </font> </a></li>
                    <li><a href="/contact"><font size=4>  Contact </font> </a></li>
                    <li><a href="http://insightdatascience.com/"> <font size=4>  Insight </font> </a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <br><br><br><br>

    <div class="container", align = "center">
      <h2> Yuxin Chen</h2>
    </div>
    
      <div class="row">
        <div class="col-md-6", align ="right">
	  <br><br>
	  <img src="../static/images/yuxinchen.jpg" alt="Profile pic" width="300px">
	</div>
	<div class="col-md-6" align="left">
	  <p style="font-size:18px">
            <br>
            I am doing my PhD in applied mathematics at Northwestern University under the supervision of Mary Silber, where my research focus was on bottom-up mechanistic modeling and I studied tipping points in earth systems (such as desertification in drylands and loss of Arctic sea ice) using dynamical systems, stochastic processes, and Monte Carlo methods. 
            <br><br>
            In recent years, I have developed strong interests in top-down data-driven methods. I started to look at problems by combining mechanistic models with observed data (particle filter method and ensemble Kalman filter) when I visited The Statistical and Applied Mathematical Sciences Institute (SAMSI) in Spring 2018. In collaboration with John MacLean and Chris Jones, I worked on hurricane intensity forecasting by improving time-dependent parameter estimation in a physics-based model of hurricane system using observed and reanalysis data. 
            <br><br>
            At Northwestern, I have worked on a project with Niall Mangan to infer infectious disease transmission direction using data-driven methods, including manifold learning and nonlinear time series analysis. 
            <br><br>
            I am aiming to apply my quantitative skills to solve real life problems and to help with making this world a better place!
	  </p>
          <br>
	</div>
      </div>
      
      <br> <br><br><br>
      <div class="container" align="center">
	email: yuxinchen0612 At gmail Dot com <br>
	GitHub: <a href="https://github.com/yuxinchenNU">https://github.com/yuxinchenNU</a>
	<br>
	LinkedIn: <a href="https://www.linkedin.com/in/yuxin-chen-10/">https://www.linkedin.com/in/yuxin-chen-10/</a>
	<br>	      
	
      </div>




 <br>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; ScotchBot</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
  
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script src="../static/js/bootstrap.min.js"></script>

    
  </body>
</html>
